ENV="development"

# DATABASE DATA
DATABASE_HOST="[host db]"
DATABASE_PORT="[port db]"
DATABASE_NAME="[name db]"
DATABASE_USER="[user db]"
DATABASE_PASSWORD="[password db]"

# PROXY DATA
IP_ROTATION="0" # 0: False, 1: True